<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Go Meetups</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="/home.js"></script>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body ng-controller="GroupsCtrl">
    <div class="container">
      <h1 class="rounded-box">Go Meetups</h1>

      <h2>Groups</h2>

      <table class='grey rounded-box'>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Members</th>
        </tr>
        <tr ng-repeat='g in groups | orderBy:"Members":true'>
          <td><a href="{{g.URL}}">{{g.Name}}</a></td>
          <td>{{g.City}}, {{g.Country}}</td>
          <td>{{g.Members}}</td>
        </tr>
      </table>
    </div>

    <div class="errors">
      <p ng-repeat="e in errors" class="rounded-box" ng-
      click="errors.splice($index, 1)">{{e}}</p>
    </div>

  </body>
</html>
